@charset "UTF-8";

	body {
	margin: 0px;
	background-image: url(../img/fundo.png);
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
div {
	width: 900px;
	background-color: #FFFFFF;
	margin: 40px auto 20px auto;
	padding: 50px;
	border-radius: 1em;
}
	h2 {
		font-family: arial, sans-serif;
		font-size: 50px;
		color: #B52E2B;
		margin: 10px;
		border-bottom: 1px solid;
		border-color: red;
		
		
		}
		h1 {
		font-family: arial, sans-serif;
		font-size: 25px;
		color: #B52E2B;
		margin: 1px;
		
		}
	p1 {
		font-family: arial, sans-serif;
		font-size: 40px;
		margin: 1px;
		
		border-bottom: 1px solid;
		border-color: black;
		border-spacing: 100px 100px;
		}
	p2 {
		font-family: arial, sans-serif;
		font-size: 20px;
		margin: 1px;
		border-bottom: 1px solid;
		border-color: black;
		}

	
