@charset "UTF-8" ;

	body {
	background-image: url(../img/fundo.png);
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

div {
	width: 900px;
	background-color: #FFFFFF;
	margin: 40px auto 10px auto;
	padding: 40px;
	border-radius: 1em;
}

div h2{
	font-family: cooper black;
	font-size: 24pt;
	color: #B52E2B;
	text-align: center;
}

div p{
	font-family: Book Antiqua;
	font-size: 13pt;
}


img {
	position: center;	
	left: 200px;
	top: 5px;
	}
	
footer#ropape {
	clear: both;
	border-top: 1px rgb(189,146,47) solid;
}

footer#rodape {
	text-align: center;
}