@charset "UTF-8";

body {
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    font-weight: bolder;
    white-space: nowrap;
}
#nome {
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 5vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.89);
}
#nome::placeholder {
    font-size: 1.5rem;
}
button {
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5vmin;
    width: 30vw;
    height: 5vw;
    border: none;
    border-radius: 5px;
}
@media (max-width:450px){
    button {
        width: 50vw;
        height: 15vw;
        font-size: 6vmin;
    }
    #nome {
        width: 55vw;
        height: 5vh;
    }
}
button:disabled{
    background-color: rgb(127, 226, 81);
    color: #8a8a8a;
}
button:enabled {
    color: #2a2a2a;
    background-color: rgb(97, 231, 36);
    transition: ease-in-out .2s;
}
button:enabled:hover {
    background-color: rgb(65, 156, 22);
}
