@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    border: border-box;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 140%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    font-weight: bolder;
}
#nome {
    font-size: 1.5em;
    padding: 10px;
    margin: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 5vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.89);
}
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    width: 30vw;
    height: 5vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(96, 219, 39);
    transition: ease-in-out .2s;
}
button:hover {
    filter: saturate(1.4);
}
