@charset "UTF-8";
@font-face {
    font-family: final;
    src: url(../fonts/8-bit-hud.ttf);
}
/*config inicial*/
body {
    margin: 0px;
    background-color:rgb(238, 238, 238);
}
.questoes {
    display: none;
}
.questoes-visivel {
    display: flex;
    opacity: 1;
}
.questoes-invisivel {
    display: none;
}
#resultados {
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: #26264d;
    font-family: 'fonte';
    display: none;
}
/*questões*/
p {
    font-size: 1.5em;
    font-family: arial, sans-serif;
    margin-bottom: 10vh;
}
.question-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    height: 80vh;
    width: 80vw;
    padding: 4vmin;
}
.alternativas {
    padding: 0px;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, auto);
    gap: 2vw;
}
button {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #0F6499;
    color: white;
    padding: 14px;
    font-size: 1.2em;
    transition: all .2s;
    user-select: none;
}
button:hover {
    cursor: pointer;
    filter: saturate(110%);
    transform: scale(1.05);
}
.img__alt {
    transform: scale(.6);
    transition: all .2s;
    margin: -3vw;
    user-select: none;
}
.img__alt:hover {
    cursor: pointer;
    transform: scale(.7);
}
#todas{
    cursor: pointer;
}
b:hover {
    transition: all .1s;
    color: #0F6499;
}
@media(max-width:500px){
    #questao2 {
        margin-top: 5vh;
    }
    #questao2 button{
        font-size: .8em;
        padding: 20px;
    }
    #questao3 button{
        font-size: .8em;
        padding: 20px;
    }
    #questao4 button{
        font-size: .8em;
        padding: 20px;
    }
    #questao5 button{
        font-size: .8em;
        padding: 15px;
    }
    #questao6 button{
        font-size: 1em;
        padding: 15px;
    }
    #questao7 button{
        font-size: 1em;
        padding: 15px;
    }
    #questao5 {
        font-size: .8em;
    }
    #questao7 {
        margin-top: 5vh;
    }
    p {
        margin-bottom: 5vh;
    }
    #questao3 button{
        padding: 1px;
    }
    .img__alt {
        transform: scale(.5);
        margin: -10vw;
    }
    .img__alt:hover {
        transform: scale(.6);
    }
    #resultados{
        font-size: .8em;
    }
}
/*final*/
#estado {
    font-family: final;
    position: absolute;
    top: 5vh;
    width: 100vw;
    text-align: center;
}
#estado__img {
    width: 100px;
    margin-left: 2vw;
}
#mensagem {
    position: absolute;
    font-family: final;
    top: 20vh;
    width: 80vw;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
#pontuacao {
    position: absolute;
    font-family: final;
    top: 70vh;
    left: 20vw;
    letter-spacing: 10px;
}
.estado__img {
    position: absolute;
    top: 10vh;
    left: 20vw;
    transform: scale(.4);
    display: none;
}